.wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: #f3F4F6;
}

table {
    width: 98%;
    max-width: 1600px;
}

table th {
    color: #082562;
    font-weight: 800;
}

table td {
    color: #606E88;
}

.pagination {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}